input { 
    jdbc {
        jdbc_driver_library => "/usr/share/logstash/pgdriver/postgresql-42.2.27.jre7.jar"
        jdbc_driver_class => "org.postgresql.Driver"
        jdbc_connection_string => "${JDBC_CONNECTION_STRING}"
        jdbc_user => "${JDBC_USER}"
        jdbc_password => "${JDBC_PASSWORD}"
        statement => "SELECT * FROM tbl_perfil_profissional"
        schedule => "*/5 * * * *" # Agendamento da importação (a cada 5 minutos neste exemplo)
        tracking_column => "atualizado_em"
        tracking_column_type => "timestamp"
        use_column_value => true
        schedule => "*/5 * * * *" # Agendamento da importação (a cada 5 minutos neste exemplo)
    }  
}

filter {
}

output {
  elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "perfis"
    document_id => "%{id_perfil_profissional}"
  }
}
